.addemployee_mainbox {
  @include main_dashboard_grid;
  min-width: 98vw;
}

.addemployee_wrapper {
  width: 78vw;
  h1 {
    border-bottom: 1px solid $tertiary;
    margin-bottom: 10px;
  }
}
.addemployee_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 0px 20px;
}

.active_tab {
  @include flex-center;
  width: 20%;
  height: 40px;
  border-bottom: 1px solid $highlight;
  padding: 3px 10px;
  color: $dark-bg;
  cursor: pointer;
}

.inactive_tab {
  h4 {
    cursor: pointer;
    font-weight: 100;
  }
}

.employeedata_form {
  height: 93%;
  width: 95%;
}

.form_header {
  @include md {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.form_header_info {
  margin-left: 20px;
}

.fullname {
  display: flex;
  h1 {
    @include md {
      font-size: 22px;
      margin-top: 15px;
      margin-bottom: 0;
    }
    font-size: 30px;
    border: none;
    margin-bottom: 5px;
    &:last-child {
      margin-left: 10px;
    }
  }
}

.position {
  h3 {
    @include md {
      font-size: 16px;
    }
    background-color: transparent;
    font-size: 18px;
    font-weight: 100;
  }
}

.contacts {
  @include md {
    margin-top: 5px;
  }
  display: flex;
  align-items: center;
  margin-top: 12px;
  input {
    @include md {
      width: 30vw;
      margin-right: 0px;
      font-size: 12px;
    }
    width: 220px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 20px;
    padding: 2px 10px;
  }
}

.form_generaldata {
  @include md {
    margin-left: 0px;
    height: 487px;
    overflow: scroll;
    border-radius: 20px;
    padding: 0px 50px;
    margin-top: -30px;
    width: 100vw;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 30px;
}

.basicdetails_header {
  @include md {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  margin-bottom: -20px;
}
.basicdetails_content {
  @include md {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.personaldetails_header {
  @include md {
    font-size: 15px;
    margin-bottom: 0px;
  }
  margin-top: 20px;
  margin-bottom: -20px;
}

.personaldetails_content_one {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.personaldetails_content_two {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.next-btn {
  @include flex-center;
  margin-top: 30px;
  width: 100%;
  button {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: $highlight;
    color: $primary;
  }
}
