.hrinfo_wrapper {
  width: 78vw;
  h1 {
    border-bottom: 1px solid $tertiary;
    margin-bottom: 10px;
  }
}
.hrinfo_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 0px 20px;
}

.active_tab {
  @include flex-center;
  // background-color: $tertiary;
  //   width: 20%;
  height: 40px;
  border-bottom: 1px solid $highlight;
  // border-top-right-radius: 7px;
  // border-top-left-radius: 7px;
  padding: 3px 10px;
  color: $dark-bg;
}

.contractdetails_header,
.education_header,
.workexperience_header {
  margin-top: 20px;
}

.workdetails_content,
.education_content,
.workexperience_content {
  display: flex;
  flex-wrap: wrap;
}

.hr-save-btn {
  @include flex-center;
  margin-top: 30px;
  width: 100%;
  button {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: $highlight;
    color: $primary;
  }
}
