.components_mainbox {
  display: grid;
  margin: 0 0;
  grid-template-columns: 0.8fr 0.2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px 12px;
  grid-template-areas:
    "welcome_message welcome_message welcome_message welcome_message"
    "widget_sickleave widget_sickleave widget_holidays widget_homeoffice"
    "widget_team widget_tasks widget_tasks widget_calendar"
    "widget_team widget_tasks widget_tasks widget_announcements"
    "widget_applications widget_applications widget_birthdays widget_announcements";
  grid-area: components_mainbox;
}
