.widget_announcements_mainbox {
  @include widget-wrapper;
  grid-area: widget_announcements;
}

.widget_announcements_header {
  margin: 20px 0px 0px 20px;
  h1 {
    font-size: 18px;
  }
}

.widget_announcements_display {
  flex-direction: column;
  margin-top: 10px;
}

.widget_announcement_one {
  @include flex-center;
  margin-top: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 80%;
  height: 1vh;
  color: $primary;
  border-radius: 8px;
  background-color: $dark-bg;
}

.widget_announcement_two {
  @include flex-center;
  margin-top: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 80%;
  height: 1vh;
  color: $primary;
  border-radius: 8px;
  background-color: $dark-bg;
}

.widget_announcement_three {
  @include flex-center;
  margin-top: 5px;
  margin-left: 20px;
  padding: 10px;
  width: 80%;
  height: 1vh;
  color: $primary;
  border-radius: 8px;
  background-color: $dark-bg;
}
