.widget_applications_mainbox {
  @include md {
    position: fixed;
    height: 13%;
    top: 62%;
    left: 4.5%;
    width: 50%;
  }
  @include widget_wrapper;
  grid-area: widget_applications;
  display: flex;
  flex-direction: column;
  //   display: grid;
  //   grid-template-columns: 20% 20% 20% 20%;
  //   grid-template-rows: 0.5fr 1.5fr;
  //   gap: 0px 0px;
  //   grid-template-areas:
  //     "head head head"
  //     "rejected pending approved btn";
  // }
}

.widget_applications_body {
  @include md {
    height: 55px;
    padding: 0;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.widget_applications_header {
  h1 {
    @include md {
      margin: 7px 20px;
    }
    font-size: 16px;
    margin: 20px 0px 10px 20px;
  }
  .horizontal_line {
    @include md {
      margin-top: -5px;
    }
    width: 87%;
    height: 2px;
    background-color: $primary;
    margin-left: 20px;
  }
}
.widget_applications_pending {
  @include flex-center;
  flex-direction: column;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  h4 {
    @include md {
      margin-top: -8px;
    }
    font-size: 10px;
  }
}
.widget_applications_approved {
  @include md {
    margin-left: 35px;
  }
  @include flex-center;
  flex-direction: column;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  @include flex-center;
  flex-direction: column;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  h4 {
    @include md {
      margin-top: -8px;
    }
    font-size: 10px;
  }
}

// .widget_applications_rejected {
//   @include flex-center;
//   flex-direction: column;
//   font-size: 20px;
//   margin-left: 20px;
//   margin-top: 10px;
//   h4 {
//     font-size: 10px;
//   }
// }
.widget_applications_new {
  @include md {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 8px;
  }
  @include flex-center;
  text-align: center;
  font-size: 15px;

  div {
    background-color: $highlight;
    color: $primary;
    border: none;
    border-radius: 8px;
    width: 75%;
    height: 50%;
    padding: 8px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}

//new applications pop-up form
.form_main_container_show {
  @include md {
    position: fixed;
    z-index: 5;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000a9;
  z-index: 3;
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 0.5s linear;
}

.form_main_container_hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s linear, opacity 0.3s linear;
}

.form_container {
  @include md {
    width: 80%;
    left: 10%;
    z-index: 2;
  }
  min-width: 30%;
  position: absolute;
  bottom: 18%;
  left: 35%;
  z-index: 2;
  height: 600px;
  padding: 10px;
  background-color: $dark-bg;
  border-radius: 12px;
  padding: 20px;

  h1 {
    font-size: 18px;
    text-align: center;
    color: $primary;
    margin-top: 20px;
  }
  input {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  select {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
  }
}

.form_buttons {
  @include flex-center;
  justify-content: space-around;

  .btn_submit {
    @include md {
      position: absolute;
      bottom: 5%;
    }
    @include flex-center;
    background-color: $highlight;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 70%;
    height: 20px;
    margin: 15px 0px;
  }
  .btn_cancel {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    border: none;
    cursor: pointer;
  }
}

.form_search {
  margin-bottom: 15px;
  h3 {
    font-size: 15px;
    font-weight: normal;
    color: white;
  }
}

.form_type {
  margin-bottom: 15px;
  h3 {
    font-size: 15px;
    font-weight: normal;
    color: white;
  }
}

.form_date {
  margin-bottom: 10px;
  h3 {
    font-size: 15px;
    font-weight: normal;
    color: white;
  }
  input {
    width: 94%;
    height: 10px;
    margin-bottom: 15px;
  }
}
