.widget_announcements_mainbox_hide {
  @include md {
    position: fixed;
    height: 92%;
    top: 0%;
    right: 0;
    width: 75%;
    background-color: $dark-bg;
    border-radius: 0px;
    z-index: 3;
    transition: 0.5s;
  }
  @include widget-wrapper;
  background-color: $dark-bg;
  grid-area: widget_announcements;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "body";
}

.widget_announcements_mainbox_show {
  @include md {
    position: fixed;
    height: 92%;
    top: 0%;
    right: 0;
    width: 0%;
    background-color: $dark-bg;
    z-index: 3;
    border-radius: 0px;
    transition: 0.5s;
  }
  @include widget-wrapper;
  background-color: $dark-bg;
  grid-area: widget_announcements;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "body";
}

.widget_announcements_header {
  @include md {
    margin-top: 30px;
  }
  grid-area: header;
  margin: 15px 0px 0px 20px;
  position: fixed;
  h1 {
    font-size: 16px;
    color: $primary;
  }
}

.widget_announcements_sidedrawer {
  @include md {
    visibility: visible;
    position: absolute;
    left: -20px;
    top: 51%;
    z-index: 0;
  }
  visibility: hidden;
  width: 0;
  height: 0;
  cursor: pointer;
  .side-close {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2px;
    height: 130px;
    width: 40px;
    border-radius: 25px;
    background-color: $dark-bg;
    color: $primary;
    i {
      transform: none;
      transition: transform 1;
    }
  }
  .side-open {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2px;
    height: 130px;
    width: 40px;
    border-radius: 25px;
    background-color: $dark-bg;
    color: $primary;
    i {
      transform: scaleX(-1);
      transition: transform 1;
    }
  }
}

.widget_announcements_display {
  @include md {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  @include flex-center;
  position: relative;
  width: 100%;
  height: 90%;
  flex-direction: column;
  grid-area: body;
  .rec.rec-carousel-wrapper {
    @include flex-center;
    height: 100%;
  }
  .rec.rec-arrow.rec.rec-arrow-left {
    color: $primary;
    width: 12px;
  }
  .rec.rec-arrow.rec.rec-arrow-right {
    color: $primary;
  }
}

.widget_announcement {
  @include md {
    height: 160px;
  }
  width: 100vw;
  height: 140px;
  display: flex;
  color: $primary;
}

.widget_announcement_dateposted {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
  h4 {
    @include md {
      font-size: 12px;
    }
    font-size: 15px;
  }
  h3 {
    @include md {
      font-size: 25px;
    }
    margin-top: -5px;
    font-size: 30px;
  }
  hr {
    width: 35px;
    border: 1px solid $highlight;
    margin-top: 2px;
  }
}

.widget_announcement_info {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.widget_announcement_header {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  width: 180px;
  // height: 90px;
  text-overflow: ellipsis;
  h3 {
    @include md {
      font-size: 17px;
    }
    font-size: 19px;
    color: $highlight;
  }
  h4 {
    @include md {
      font-size: 10px;
      margin-top: 2px;
    }
    font-size: 11.5px;
    font-weight: 300;
    color: $secondary;
    margin-top: 5px;
    text-align: justify;
  }
  p {
    font-size: 11.5px;
    color: $highlight;
    margin-top: 10px;
  }
}

.widget_announcements_icons {
  @include md {
    font-size: 10px;
  }
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  font-size: 11.5px;
  color: $highlight;
  :first-child {
    margin-right: 70px;
  }
  p:hover {
    color: $primary;
    cursor: pointer;
  }
}

.widget_announcement_delete {
  position: absolute;
  left: 5px;
  bottom: 12px;
  z-index: 11;
}

//expand announcements
.expand_main_container_show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000007c;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 0.5s linear;
}

// .expand_main_container_hide {
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 1s linear, opacity 0.3s linear;
// }

.expand_container {
  @include md {
    width: 80%;
    top: 10%;
    left: 10%;
    height: 80%;
  }
  width: 40%;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 9;
  height: 400px;
  background-color: $dark-bg;
  border-radius: 12px;
  padding: 40px;
  border-bottom: 40px solid $dark-bg;
  overflow-x: hidden;
  overflow-y: scroll;

  .expand_header {
    position: sticky;
    h1 {
      font-size: 30px;
      text-align: left;
      color: $highlight;
      margin-top: 20px;
      margin-bottom: 2px;
    }
  }
}

.expand_subheader {
  display: flex;
  p {
    @include md {
      font-size: 10px;
      margin-right: 2px;
      border: none;
    }
    color: $secondary;
    font-size: 12px;
    // font-style: italic;
    border-right: 1px solid $primary;
    margin-right: 10px;
    padding-right: 20px;
    margin-top: 10px;
  }
}

.expand_subtopic {
  font-size: 14px;
  margin-top: 20px;
  color: $primary;
  line-height: 20px;
}

.expand_main_content {
  h3 {
    font-size: 16px;
    color: $highlight;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    text-align: justify;
    color: white;
    line-height: 25px;
    padding-bottom: 20px;
  }
  h4 {
    text-align: center;
    color: $highlight;
  }
}
.expand_buttons {
  @include flex-center;
  justify-content: space-around;
  .btn_cancel {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  i {
    position: absolute;
    margin-top: -12px;
    top: 0;
    right: 70px;
    color: $highlight;
  }
}

//scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-bg;
}

//mobile

.widget_announcements_mobile_show {
  @include md {
    display: flex;
    flex-direction: column;
    margin: 100px 0px 0px 40px;
    width: 500px;
  }
  visibility: hidden;
  width: 0;
  height: 0;
}

.widget_announcements_mobile_hide {
  @include md {
    display: flex;
    flex-direction: column;
    margin: 100px 0px 0px 50px;
    width: 0px;
  }
  visibility: visible;
  width: 0;
  height: 0;
}

.widget_announcements_divider_mobile {
  .line {
    background-color: transparent;
    width: 100%;
    height: 20px;
    margin: 5px 0;
    border-bottom: 1px solid $secondary;
  }
}
