.widget_applications_mainbox {
  @include widget_wrapper;
  grid-area: widget_applications;
  width: 100%;
  height: 100%;
  overflow: unset;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "widget_applications_header widget_applications_header widget_applications_header"
    "widget_applications_pending widget_applications_approved widget_applications_new";
}

.widget_applications_header {
  grid-area: widget_applications_header;
  h1 {
    font-size: 16px;
    margin: 20px 0px 10px 20px;
  }
  .horizontal_line {
    width: 87%;
    height: 2px;
    background-color: $primary;
    margin-left: 20px;
  }
}
.widget_applications_pending {
  grid-area: widget_applications_pending;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  h4 {
    font-size: 10px;
    color: $secondary;
    font-weight: normal;
  }
}
.widget_applications_approved {
  grid-area: widget_applications_approved;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  h4 {
    font-size: 10px;
  }
}
.widget_applications_new {
  grid-area: widget_applications_new;
  @include flex-center;
  button {
    background-color: $highlight;
    color: $primary;
    border: none;
    border-radius: 8px;
    width: 80%;
    height: 50%;
    margin-right: 20px;
  }
}

//new applications pop-up form
.form_main_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000a9;
  z-index: 10;
}

.form_container {
  width: 25%;
  position: absolute;
  bottom: 25%;
  left: 40%;
  z-index: 9;
  height: 400px;
  padding: 10px;
  background-color: $dark-bg;
  border-radius: 12px;
  padding: 20px;
  h1 {
    font-size: 18px;
    text-align: center;
    color: $primary;
    margin-top: 20px;
  }
  input {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  select {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
  }
}

.form_buttons {
  @include flex-center;
  justify-content: space-around;

  .btn_submit {
    @include flex-center;
    background-color: $highlight;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 70%;
    height: 20px;
    margin: 15px 0px;
  }
  .btn_cancel {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.form_search {
  margin-bottom: 15px;
  h3 {
    font-size: 15px;
    font-weight: normal;
    color: white;
  }
}

.form_type {
  margin-bottom: 15px;
  h3 {
    font-size: 15px;
    font-weight: normal;
    color: white;
  }
}

.form_date {
  margin-bottom: 10px;
  h3 {
    font-size: 15px;
    font-weight: normal;
    color: white;
  }
  input {
    width: 94%;
    height: 10px;
    margin-bottom: 15px;
  }
}
