.widget_birthdays_mainbox {
  @include md {
    position: fixed;
    height: 13%;
    top: 76%;
    left: 4.5%;
    width: 50%;
    z-index: 0;
    min-width: 50%;
  }
  @include widget-wrapper;
  grid-area: widget_birthdays;
  position: relative;

  //inside grid
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 0px 0px;
  grid-template-areas:
    "birthdays_header birthdays_header ."
    "birthdays_today birthdays_month .";
}

.widget_birthdays_header {
  h1 {
    @include md {
      margin: 7px 20px;
    }
    font-size: 16px;
    margin: 20px 0px 0px 20px;
  }
  span {
    @include md {
      visibility: visible;
    }
  }
}

.birthdays_content_wrapper {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.birthdays_today {
  @include flex-center;
  flex-direction: column;
  grid-area: birthdays_today;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  @include md {
    margin-top: 10px;
  }

  h1 {
    @include md {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    font-size: 15px;
    margin-top: -10px;
  }
}

.birthday_today_name {
  p {
    @include md {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}
.birthday_today_image {
  margin: 20px 20px 0 20px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 20px 50px 0 20px;
  }
}

.birthday_today_name {
  @include flex-center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  p {
    font-size: 10px;
  }
}
.birthdays_month {
  @include md {
    visibility: hidden;
    width: 0;
  }
  @include flex-center;
  flex-direction: column;
  grid-area: birthdays_today;
  width: 100%;
  height: 100%;
  margin-top: -10px;

  h1 {
    @include md {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    font-size: 15px;
    margin-top: -10px;
  }
}

.birthday_month_image {
  margin: 20px 20px 0 20px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 20px 50px 0 20px;
  }
}

.birthday_month_name {
  @include flex-center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  p {
    font-size: 10px;
  }
}

.rec .rec-carousel {
  @include md {
    position: absolute;
    top: -38px;
  }
}
