.widget_homeoffice_mainbox {
  @include md {
    display: flex;
    background-color: $tertiary;
    position: fixed;
    top: 40%;
    height: 7%;
    width: 90%;
    z-index: -1;
  }
  @include widget-wrapper;
  grid-area: widget_homeoffice;
  //inside grid
  display: grid;
  grid-template-columns: 1.4fr 0.2fr 1.4fr;
  grid-template-rows: 1.5fr 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "homeoffice_top_wrapper homeoffice_top_wrapper homeoffice_top_wrapper"
    "homeoffice_middle_wrapper homeoffice_middle_wrapper homeoffice_middle_wrapper"
    "homeoffice_bottomleft_wrapper homeoffice_bottommiddle_wrapper homeoffice_bottomright_wrapper";
  .homeoffice_top_wrapper {
    @include md {
      @include flex-center;
      background-color: $highlight;
      width: 25%;
      height: 100%;
      margin: 0;
      padding: 0;
      line-height: 22px;
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
    }
    grid-area: homeoffice_top_wrapper;
    margin: 20px;
    @include flex-center;
    justify-content: flex-start;
    .square_bullet {
      @include md {
        visibility: hidden;
        width: 0;
      }
      width: 14px;
      height: 60%;
      background-color: $primary;
      border-radius: 2px;
    }
    h1 {
      @include md {
        margin-left: 0;
        color: $primary;
        font-size: 16px;
      }
      font-size: 20px;
      margin-left: 20px;
    }
  }

  .homeoffice_middle_wrapper {
    @include md {
      visibility: hidden;
      width: 0;
    }
    grid-area: homeoffice_middle_wrapper;
    margin-left: 20px;
    h4 {
      font-size: 10px;
    }
    .horizontal_line {
      margin: 10px 0px;
      width: 92%;
      height: 2px;
    }
  }
  .homeoffice_bottomleft_wrapper {
    @include md {
      @include flex-center;
      flex-direction: column;
    }
    grid-area: homeoffice_bottomleft_wrapper;
    margin-left: 20px;
    h2 {
      font-size: 18px;
      margin-bottom: 3px;
    }
    h4 {
      font-size: 10px;
      color: $secondary;
      font-weight: normal;
    }
  }
  .homeoffice_bottommiddle_wrapper {
    @include md {
      visibility: hidden;
      width: 0;
    }
    grid-area: homeoffice_bottommiddle_wrapper;
    .vertical_line {
      width: 2px;
      height: 80%;
    }
  }
  .homeoffice_bottomright_wrapper {
    @include md {
      @include flex-center;
      flex-direction: column;
      margin-left: 35px;
    }
    grid-area: homeoffice_bottomright_wrapper;
    h2 {
      font-size: 18px;
      margin-bottom: 3px;
    }
    h4 {
      font-size: 10px;
      color: $secondary;
      font-weight: normal;
    }
  }
}
