.widget_holidays_mainbox {
  @include md {
    display: flex;
    background-color: $tertiary;
    position: fixed;
    top: 32%;
    height: 7%;
    width: 90%;
    z-index: -1;
  }
  @include widget-wrapper;
  grid-area: widget_holidays;
  //inside grid
  display: grid;
  grid-template-columns: 1.4fr 0.2fr 1.4fr;
  grid-template-rows: 1.5fr 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "holidays_top_wrapper holidays_top_wrapper holidays_top_wrapper"
    "holidays_middle_wrapper holidays_middle_wrapper holidays_middle_wrapper"
    "holidays_bottomleft_wrapper holidays_bottommiddle_wrapper holidays_bottomright_wrapper";
  .holidays_top_wrapper {
    @include md {
      @include flex-center;
      background-color: $highlight;
      width: 25%;
      height: 100%;
      margin: 0;
      padding: 0;
      line-height: 22px;
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
    }
    grid-area: holidays_top_wrapper;
    margin: 20px;
    @include flex-center;
    justify-content: flex-start;
    .square_bullet {
      @include md {
        visibility: hidden;
        width: 0;
      }
      width: 14px;
      height: 60%;
      background-color: $lighter-blue;
      border-radius: 2px;
    }
    h1 {
      @include md {
        color: $primary;
        font-size: 16px;
      }
      font-size: 20px;
      margin-left: 20px;
    }
  }

  .holidays_middle_wrapper {
    @include md {
      visibility: hidden;
      width: 0;
    }
    grid-area: holidays_middle_wrapper;
    margin-left: 20px;
    h4 {
      font-size: 10px;
    }
    .horizontal_line {
      background-color: $primary;
      margin: 10px 0px;
      width: 92%;
      height: 2px;
    }
  }
  .holidays_bottomleft_wrapper {
    @include md {
      @include flex-center;
      flex-direction: column;
    }
    grid-area: holidays_bottomleft_wrapper;
    margin-left: 20px;
    h2 {
      font-size: 18px;
      margin-bottom: 3px;
    }
    h4 {
      font-size: 10px;
      color: $secondary;
      font-weight: normal;
    }
  }
  .holidays_bottommiddle_wrapper {
    @include md {
      visibility: hidden;
      width: 0;
    }
    grid-area: holidays_bottommiddle_wrapper;
    .vertical_line {
      width: 2px;
      height: 80%;
      background-color: $primary;
    }
  }
  .holidays_bottomright_wrapper {
    @include md {
      @include flex-center;
      flex-direction: column;
      margin-left: 35px;
    }
    grid-area: holidays_bottomright_wrapper;
    h2 {
      font-size: 18px;
      margin-bottom: 3px;
    }
    h4 {
      font-size: 10px;
      color: $secondary;
      font-weight: normal;
    }
  }
}
