.announcements_mainbox {
  margin-top: 5px;
}

.announcements_title {
  margin-top: 10px;
  h3 {
    margin-right: 20px;
    font-size: 15px;
  }
  input {
    width: 90%;
    height: 10px;
    margin-top: 0px;
    background-color: none;
    border: 1px solid $dark-bg;
    border-radius: 5px;
    padding: 10px;
  }
}

.announcements_subtopic {
  margin-top: 10px;
  h3 {
    margin-right: 20px;
    font-size: 15px;
  }
  input {
    width: 90%;
    height: 10px;
    margin-top: 0px;
    background-color: none;
    border: 1px solid $dark-bg;
    border-radius: 5px;
    padding: 10px;
  }
}

.announcements_message {
  margin-top: 20px;
  h3 {
    margin-right: 20px;
    font-size: 15px;
  }
  textarea {
    width: 90%;
    height: 120px;
    margin-top: 0px;
    background-color: none;
    border: 1px solid $dark-bg;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    resize: none;
  }
}

.announcements_poster {
  margin-top: 20px;
  h3 {
    margin-right: 20px;
    font-size: 15px;
  }
  input {
    width: 90%;
    height: 10px;
    margin-top: 0px;
    background-color: none;
    border: 1px solid $dark-bg;
    border-radius: 5px;
    padding: 10px;
  }
}
.announcements_date_container {
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 15px;
  }
  input {
    border: 1px solid $dark-bg;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    height: 10px;
  }
  .announcements_date {
    margin-right: 10px;
  }
}

.announcements_post {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  button {
    width: 100px;
    height: 30px;
    color: $primary;
    font-weight: bold;
    background-color: $highlight;
    border: none;
    border-radius: 10px;
  }
}
