.leaveapplications_mainbox {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 50px;
  background-color: $dark-bg;
  border-radius: 50px;
  color: $primary;
  line-height: 20px;
  margin-top: 10px;
}

.leave_classification {
  @include flex-center;
  .leave_classification_ring {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50px;
    position: relative;
    div {
      position: absolute;
      top: 25%;
      left: 26%;
      font-size: 13px;
    }
  }
}

.leave_details {
  margin: 10px;
  h1 {
    font-size: 15px;
  }
}
