.sidenav_mainbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $dark-bg;
  border-radius: 15px;
  grid-area: sidenav_mainbox;
  margin-right: 10px;
  // border: 1px solid red;
}
