.topnav_mainbox {
  @include md {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  grid-area: topnav_mainbox;
  width: 98%;
  height: 100%;
}

.logo {
  @include flex-center;
  margin-left: 15px;
  width: 60px;
  height: 60px;
  img {
    width: 100%;
    height: 100%;
  }
}
.top-nav-line {
  display: flex;
  align-self: center;
  margin: 0 20px;
  height: 3px;
  width: 100%;
  background-color: black;
}

.settings_button {
  @include flex-center;
  margin-top: 3px;
}
