* {
  margin: 0px;
  padding: 0px;
}

.homearea {
  width: 80vw;
  margin: 0 auto;
}

.loginarea {
  width: 80vw;
  margin: 0 auto;
}

.maindashboard_area {
  width: 98vw;
  height: 95vh;
  margin: 10px;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 10px 0px;
  grid-template-areas:
    "topnav_mainbox topnav_mainbox topnav_mainbox"
    "sidenav_mainbox components_mainbox components_mainbox"
    "sidenav_mainbox components_mainbox components_mainbox";
}
