// FLEX CENTER
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// COLORED HEADINGS
@mixin text-gradient-red-blue {
  background: #d32de5; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ee6c4d 0%,
    #98c1d9 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ee6c4d 0%,
    #98c1d9 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ee6c4d 0%,
    #98c1d9 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//WIDGET WRAPPER
@mixin widget-wrapper {
  width: 100%;
  min-width: 350px;
  height: 100%;
  // min-height: 150px;
  // background-color: $light-bg;
  border-radius: 5px;
}

//MAIN DASHBOARD GRID
@mixin main_dashboard_grid {
  @include md {
    min-width: 98vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    // overflow: hidden;
  }
  max-width: 99vw;
  max-height: 95vh;
  // min-width: 1366px;
  // min-height: 846px;
  // overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-rows: 0.2fr 1.6fr 1fr;
  gap: 0px 10px;
  grid-template-areas:
    "topnav_mainbox topnav_mainbox topnav_mainbox"
    "sidenav_mainbox components_mainbox components_mainbox"
    "sidenav_mainbox components_mainbox components_mainbox";
}

// MEDIA QUERYS
// Small devices

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media only screen and (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
