// VARIABLES

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// COLORS

// FONTS

$font-family-roboto: "Roboto", sans-serif;
$font-family-opensans: "Open Sans", sans-serif;

// LINKS
a {
  text-decoration: none;
}
