// VARIABLES

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 576px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// COLORS
//light-mode
$light-bg: #eeeeee;
$dark-bg: #2b3240;
$primary: #ffffff;
$secondary: #a0a0a0;
$tertiary: #ebebeb;
$highlight: #de7456;
$light-blue: #43597d;
$lighter-blue: #a0c0d7;

//general
$online: #00cf53;
$offline: #ff0000;

// FONTS

$font-family-roboto: "Roboto", sans-serif;
$font-family-opensans: "Open Sans", sans-serif;

// LINKS
a {
  text-decoration: none;
}
