.landingpage_topnav_mainbox {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 40px;
    .landingpage_topnav_logobox{
        width: 10vw;
        color: rgb(124, 35, 35);
        font-size: 1.6rem;
        font-weight: 800;
        justify-content: left;
    }
    .landingpage_topnav_menulinks{
        width: 20vw;
        display: flex;
        justify-content: center;
        .landingpage_topnav_menulink{
            padding: 0px 10px;
        }
    }
    .landingpage_topnav_buttons{
        justify-content: right;
        width: 50vw;
        display: flex;
        .landingpage_topnav_contactbutton{
            padding: 0px 10px;
        }
    }
}