.homeabout_mainbox {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: white;
  margin-bottom: 70px;
  margin-top: 70px;
}

.homeabout_content {
  display: flex;
  margin: 20px 0;
  .homeabout_content_left {
    width: 40%;
    height: auto;
    text-align: justify;
  }
  .homeabout_content_right {
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }
}

img {
  width: 80%;
  height: auto;
}

.homeabout_header {
  h3 {
    color: gray;
    font-weight: normal;
    padding-top: 10px;
    text-align: justify;
  }
  button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-right: 10px;
    background-color: $highight;
    color: white;
  }
}

.homeabout_content {
  padding: 20px 0;
}
.homeabout_content_left {
  h2 {
    color: $highight;
  }
  h3 {
    padding: 10px 0;
    line-height: 25px;
  }
  h4 {
    color: gray;
    font-weight: normal;
    line-height: 25px;
  }
}
