.homecontact_mainbox {
  display: flex;
  background-color: $dark-bg;
  color: white;
  height: auto;
  line-height: 20px;
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 20px 0;
  }
  .homecontact_left {
    width: 60%;
    padding: 20px;
    margin: 20px 0;
  }
  .homecontact_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    button {
      background-color: $highight;
      align-self: center;
      color: white;
      font-size: 17px;
      height: 30px;
      width: 150px;
      border-radius: 12px;
      border: none;
    }
  }
}
