// Colors
$bg-color: white;
$dot-color: #a4b7cc;

// Dimensions
$dot-size: 2px;
$dot-space: 25px;

.homeheader_mainbox{
    height: 65vh;
    width: 80vw;
    text-align: center;
    .homeheader_topbox {
        padding-top: 6rem;
        font-family: 'Mohave';
    }
}