.homefooter_mainbox {
  height: 300px;
  background-color: $dark-bg;
  color: white;
  padding: 25px 50px;
}

hr {
  margin: 20px 0;
}

.homefooter_topic {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 15px;
  color: #b8b7b7;
}
.homefooter_topic_2 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  * {
    margin-right: 20px;
  }
}
.homefooter_topic_3,
.homefooter_topic_4 {
  display: flex;
  font-size: 11px;
  padding-bottom: 15px;
  justify-content: center;

  > div {
    padding-right: 20px;
    color: #b8b7b7;
  }
}

.homefooter_subtopic_header {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: $highlight;
}
